@import "uico/style.css";

@layer base {
	::view-transition-group(*) {
		animation-duration: 0.4s;
	}
	@media (prefers-reduced-motion) {
		::view-transition-group(*) {
			animation-duration: 0s;
		}
	}

	:root {
		--base: rgb(81, 95, 128);
		--border-radius: 25px;
	}

	body {
		margin-inline: auto;
		padding: var(--size-6);
		max-width: 105ch;
	}
}

@layer components {
	img {
		corner-shape: squircle;
		opacity: light-dark(1, 0.9);
	}

	button {
		border-radius: 999px;
		padding-inline: var(--size-3);
		height: var(--size-6);
	}

	#readme {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: var(--size-4);

		@media (min-width: 768px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		> :first-child {
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media (min-width: 768px) {
				grid-column: span 2 / span 2;
			}
		}
	}

	#projects {
		#features {
			display: inline-flex;
			gap: var(--size-1);
			border: var(--border);
			border-radius: var(--border-radius);
			background-color: var(--muted-background);
			padding: var(--size-1);

			> :not(.selected) {
				opacity: 0.5;

				&:hover {
					opacity: 0.8;
				}
			}

			.selected {
				opacity: 1;
				background-color: var(--background);
			}

			* {
				text-transform: capitalize;
			}
		}

		#project-grid {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			gap: var(--size-4);
			padding-block: var(--size-4);

			@media (min-width: 540px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			@media (min-width: 768px) {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			> * {
				/* cards */
				display: flex;
				corner-shape: squircle;
				flex-direction: column;
				justify-content: space-between;
				gap: var(--size-1);
				border: var(--border);
				border-radius: var(--border-radius);
				background-color: color-mix(
					in oklab,
					var(--muted-background) 80%,
					transparent
				);
				padding: var(--size-4);
			}

			:last-child {
				display: flex;
				justify-content: space-between;
				gap: var(--size-4);

				.star-count {
					display: flex;
					align-items: center;
					gap: var(--size-2);
				}
			}

			h3 {
				margin-block: 0 var(--size-1);
				font-size: var(--font-size-5);
				line-height: var(--line-height-5);
				letter-spacing: var(--letter-spacing-5);
			}
		}
	}
}
