@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::view-transition-group(*) {
		animation-duration: 0.4s;
		animation-timing-function: ease-in-out;
	}
	@media (prefers-reduced-motion) {
		::view-transition-group(*) {
			animation-duration: 0s;
		}
	}
}
